* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

#file-input {
    z-index: 1;
}

#objectInfoCard {
    max-width: 18rem;
    z-index: 1;
}

.object-info-list li {
    font-size: .75rem;
}

#three-canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

